* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container{
    margin: auto;
    width: 80%;
}

#header{
    background-color: #1F2937;
    padding: 2% 0;
    display: flex;         
    align-items: center;      
    justify-content: space-between;
}

#logo{
    color: #F9FAF8;
    float: left;
    font-size: 24px;
    font-weight: bold;
}

#headerLinks{  
    float: right;
    font-size: 18px;
}

.links{
    color: #E5E7Eb;
    text-decoration: none;
    margin: 15px;
}



/* First Section CSS */
#firstSection{
    background-color: #1F2937;
    padding: 10% 0;
    overflow: hidden;
}

#text{
    float: left;
    width: 50%;
}

#mainTitle{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: bolder;
}

#subText{
    font-size: 18px;
    color: #E5E7Eb;
}

.primaryButton{
    background-color: #3882F6;
    padding: 5px 25px;
    border-radius: 5px;
    color: #F9FAF8;
    border: none;
    cursor: pointer;
}

.placeholder{
    padding: 10%;
    background-color: #E5E7EB;
    float: right;
    /* width: 50%; */
}