* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container{
    margin: auto;
    width: 70%;
}

#header{
    background-color: #1F2937;
    padding: 2% 0;
    display: flex;         
    align-items: center;      
    justify-content: space-between;
}

#logo{
    color: #F9FAF8;
    float: left;
    font-size: 24px;
    font-weight: bold;
}

#headerLinks{  
    float: right;
    font-size: 18px;
}

.links{
    color: #E5E7Eb;
    text-decoration: none;
    margin: 15px;
}



/* First Section CSS */
#firstSection{
    background-color: #1F2937;
    padding: 5% 0;
    overflow: hidden;
}

#text{
    float: left;
    width: 50%;
}

#mainTitle{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: bolder;
}

#subText{
    font-size: 18px;
    color: #E5E7Eb;
}

.primaryButton{
    background-color: #3882F6;
    padding: 5px 25px;
    border-radius: 5px;
    color: #F9FAF8;
    border: none;
    cursor: pointer;
}

.placeholder{
    padding: 10%;
    background-color: #E5E7EB;
    float: right;
}

/* Second Section CSS */
#secondSection{
    background-color: white;
    padding: 5% 0;
    text-align: center;
}

#informationBoxes{
    display: flex;
    width: 70%;
    display: inline-flex;
    margin: 50px;
}

#secondSectionTitle{
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.infoBox{
    font-size: 18px;
    color: #6a6a6b;
    text-align:center;
}

.randomInfoBox{
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 20px;
    border-color: #3882F6;
    display:inline-block;
}